<ion-tabs class="tabs-icon-top tabs-background-assertive tabs-color-light">

  <!-- Prices Tab -->
  <ion-tab title="Preços" icon-off="ion-pricetags" icon-on="ion-pricetags" href="#/tab/prices">
    <ion-nav-view name="tab-prices"></ion-nav-view>
  </ion-tab>

  <!-- Checklist Tab -->
  <ion-tab title="Minha Lista" icon-off="ion-bag" icon-on="ion-bag" href="#/tab/checklist">
    <ion-nav-view name="tab-checklist"></ion-nav-view>
  </ion-tab>

  <!-- Config Tab -->
  <ion-tab title="Configurações" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>


</ion-tabs>
